###> IDE and OS files ###
.idea
.DS_Store
###< IDE and OS files ###

/.env.local
/.env.local.php
/.env.*.local
/vendor/
/var/

###> friendsofphp/php-cs-fixer ###
/.php-cs-fixer.php
/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/.phpunit.cache/
/phpunit.xml
###< symfony/phpunit-bridge ###
