includes:
    - phpstan-baseline.neon

parameters:
    level: max
    checkUninitializedProperties: true
    paths:
        - src
        - tests
    ignoreErrors:
        -
            message: "#^Method .+ has parameter \\$context with no value type specified in iterable type array.$#"